html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

a {
  text-decoration: none;
}

.btn {
  font-size: 1.125rem;
  background-color: #333;
  color: #fff;
  border-radius: 8px;
  padding: .4em .75em .3em;
  border-style: solid;
  text-decoration: none;
}

.btn-subtle {
  font-size: 1.125rem;
  background-color: #ccc;
  color: #fff;
  padding: .4em .75em .3em;
}

.btn-ghost {
  font-size: 1.125rem;
  background-color: #fff;
  color: #000;
  padding: .4em .75em .3em;
  border-width: 3px;
  border-color: #000
}

.btn-warning {
  font-size: 1.125rem;
  background-color: #f33;
  color: #fff;
  padding: .4em .75em .3em;
}

.btn-small {
  font-size: .875rem;
  background-color: #333;
  color: #fff;
}

a .btn-subtle .btn-small {
  font-size: .875rem;
  background-color: #ccc;
  color: #fff;
}

a .btn-ghost .btn-small {
  font-size: .875rem;
  background-color: #fff;
  color: #000;
}

a .btn-warning .btn-small {
  font-size: .875rem;
  background-color: #f33;
  color: #fff;
}

a .btn .btn-big {
  font-size: 1.5rem;
  background-color: #333;
  color: #fff;
}

a .btn-subtle .btn-big {
  font-size: 1.5rem;
  background-color: #ccc;
  color: #fff;
}

a .btn-ghost .btn-big {
  font-size: 1.5rem;
  background-color: #fff;
  color: #000;
  border-radius: 3px
}

a .btn-warning .btn-big {
  font-size: 1.5rem;
  background-color: #f33;
  color: #fff;
}
